[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
generate = "python3 app.py"

[dev-packages]

[packages]
html2text = "*"
requests = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
aiohttp-jinja2 = "*"
aiohttp = "*"
asyncio = "*"
flake8 = "*"
gino = "*"

[requires]
python_version = "3.7"
