[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
generate = "python3 app.py"
create_corpus = "python3 -m scripts.corpus_parser"
train_sentiment_model = "python3 -m scripts.train_sentiment_model"

[dev-packages]

[packages]
requests = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
aiohttp-jinja2 = "*"
aiohttp = "*"
asyncio = "*"
flake8 = "*"
gino = "*"
alembic = "*"
psycopg2-binary = "*"
bs4 = "*"
lxml = "*"
nltk = "*"
aiohttp-cors = "*"
tensorflow = "*"
numpy = "*"
pandas = "*"

[requires]
python_version = "3.7"
